.base-select_label {
    color: #666;
    font-size: 10px;
    height: 16px;
    margin-bottom: 4px;
    padding-left: 16px;
    text-align: left;
    text-transform: uppercase;
}

.base-select_select {
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.base-select_select-small {
    height: 28px;
    width: 128px;
    font-size: 12px;
}

.base-select_select-middle {
    height: 36px;
    width: 140px;
    font-size: 14px;
}

.base-select_select-large {
    height: 44px;
    width: 152px;
    font-size: 16px;
}

.base-select_select-disabled {
    color: #999999;
    background: none !important;
    cursor: not-allowed !important;
    opacity: 0.5;
}

.base-select_selector {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    padding-right: 10px;
    border: solid 1px #999999;
    color: #666666;
    background-color: #fff;
}

.base-select_selector-radius-small {
    border-radius: 14px;
}

.base-select_selector-radius-middle {
    border-radius: 18px;
}

.base-select_selector-radius-large {
    border-radius: 22px;
}

.base-select_selector-hover:hover {
    background-color: #e6eaea !important;
}

.base-select_selector-selected {
    border-color: #01a699 !important;
    color: #01a699 !important;
}

.base-select_selector-selection {
    flex: 1;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.base-select_selector-arrow {
    transition: transform .3s;
    fill: #666;
}

.base-select_selector-arrow-open {
    transform: rotate(180deg);
}

.base-select_selector-arrow-selected {
    fill: #01a699 !important;
}

.base-select_dropdown {
    display: none;
    border-radius: 4px;
    width: 140px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #666666;
    cursor: initial;
    text-align: left;
    padding: 10px;
    z-index: 1;
    min-height: 10px;
    width: fit-content;
    min-width: 140px;
    box-sizing: border-box;
}

.base-select_dropdown-small {
    top: 38px;
}

.base-select_dropdown-middle {
    top: 46px;
}

.base-select_dropdown-large {
    top: 54px;
}

.base-select_dropdown-open {
    display: initial;
}
